@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      margin: 30px;
    }
  
    .Login form {
      margin: 0 auto;
      font-family: serif;
      max-width: 320px;
      text-align: center;
    }
  }